<!DOCTYPE html>
<html ng-app="LunchCheck">
  <head>
    <meta charset="utf-8">
    <title>Coursera AngularJS</title>
  </head>
  <body>
    <div ng-controller="LunchCheckController">
      <!-- empty handle -->
      <input type="text" ng-model="items" placeholder="Counting words by commas"/>
      <br/><span>{{msg}}</span>
      <br/><button ng-click="check();"> Check if too much </button>
    </div>

    <script src="../../js/angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
